{% extends 'blog/base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
  <h2>Your Profile</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
      <legend>Account info</legend>
      {{ u_form.as_p }}
    </fieldset>
    <fieldset>
      <legend>Profile</legend>
      {{ p_form.as_p }}
    </fieldset>
    <button type="submit">Save changes</button>
  </form>

  {% if user.profile.avatar %}
    <img src="{{ user.profile.avatar.url }}" alt="avatar" width="150">
  {% endif %}
{% endblock %}
